a:link, a:visited {
    color: #d9ff66;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #60A9F0;
    background-color: transparent;
    text-decoration: underline;
}

.round {
    border-radius: 20px;
}